*{
    margin:0;  
    padding: 0;
  }
  header,footer,
  article,section,
  nav,figure{display: block;
  }
  
  body {
      /*estilos por default para color de texto . tamaño , color de fondo*/
      font-size: 1em;
      color: #fcfcfc;
      background-color: #d4cdc1;
      font-family: Arial, Helvetica, sans-serif;
  }
  /*Cabeceras:*/
  h1,h2{
    /*agregamos una sombra al texto h1,h2,h3*/
    text-shadow: 0 1px 1px black;
  }
  h2{
    font-size: 2em;
    font-weight: normal;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  }
  
  /*parrafo*/
  p{
    line-height: 1.5em;/*interlineado*/
    padding-bottom: 1em;
    padding-left: 1em;
  }
  .line{
    /*linea divisora*/
    height: 1px;
    margin: 1em 0;
    overflow: hidden;
  }
  article .line{
    /*linea divisora dentro de los article*/
    background-color: antiquewhite;
  }
  .logo{
    padding: 30px 25px 25px;
  }


  /*hipervinculos*/

  a,a:visited {
    /*para quitarle el subrayado al hipervinculo*/
    text-decoration: none;
  }

  /*menu*/
  nav{
    background: #f8f8f8;
    position: absolute;
    right: 0;
    top: 4em;
  }
  nav ul li a,
  nav ul li a:visited{
    color: #565656;
    display: block;
float: left;
font-size: 1.25em;
font-weight: bold;
margin: 5px 2px;
padding: 7px 10px 4px;
text-transform: uppercase;
 }
  nav ul li a:hover{
    text-decoration: none;
    background-color: #fcfcfc;
  }

 
  

nav, article,nav ul li  a,figure{
  /*bordes redondeados:*/
-moz-boorder-radius:10px;
-webkit-border-radius:10px ;
border-radius: 10px
}

/*articulos*/
#page{
  width: 960px;
  margin:0 auto;
  position: relative;
}
article{
  background-color: #4d3e3d;
  margin: 3em 0;
  padding: 20px;
  text-shadow: 0 2px 0 black;
}
/*para mostrar un espacio despues de cada article*/
.clear::after{
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;

}
/*figure e imagen*/
figure{
  float: right;
  margin-left: 15px;
  overflow: hidden;
}
figure img{
  margin-left: -60px;
}
/*footer*/
footer{
  margin-bottom: 30px;
  text-align: center;
  font-size: 0.825em;
}
footer p{
  background-color: #4d3e3d;
  padding: 30px;
  /*bordes redondeados*/
  -moz-border-radius:10px;
  -webkit-border-radius: 1opx;
  border-radius: 10px;

}